body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1{
    color: white;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -0.2px;
    margin: 0;
}

h1 strong{
    color: #024536;
}

h2{
    color: #05AD89;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.header{
    background-color: #05AD89;
    color:white;
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
    font-size: 24px;

    /* left: 0; */
    /* top: 0; */

}

.menu{
    height: inherit;
}

.menu ol{
    display: flex;
    height: inherit;
}

.menu ol li{
    height: inherit;
}

.menu a{
    height: inherit;
    display: flex;
    color: white;
    text-decoration: none;
    font-weight: 600;
    align-items: center;
    padding: 0px 10px;
}

.hero{
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #05AD89;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #185a9d, #05AD89);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #185a9d, #05AD89); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hero img{
    object-fit: cover;
}

.portfolio{
    background-color: #fafafa;
    padding: 20px;
}

.project{
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    margin-bottom: 15px;

    padding: 20px;

    background-color: white;
    align-items: center;
    justify-content: space-between;
}

.project strong{
    font-family: 'Fjalla One', sans-serif;
}

.project-details{
    width: 500px;
}

.project-title{
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.project-course,
.project-date,
.project-url{
    margin: 10px 0;
}

.project-description{
    font-size: 20px;
}

.project-imageContainer{
    width: 500px;
}

.event-list-title{
    margin-left: 20px;
}

.event-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.event{
    margin:10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 25px;
    overflow: hidden;
    background-color: #f4fbff;
}

.event img{
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-details{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description{
    text-align: left;
}

.event-url{
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #024536;
    padding: 10px 40px;
    border-radius: 25px;
}

